#divUno{
    width: 200px;
    height: 200px;
    background-color: blue;
}

#divDos{
    width: 200px;
    height: 200px;
    background-color: red;
}

#divTres{
    width: 200px;
    height: 200px;
    background-color: green;
}

#divCuatro{
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.contCuatro{
    display: flex;
    justify-content: space-evenly;

}


